* {
    background-color: #0A0E17;
}

h1 {
    color: green;
}

.navbar {
    color: black;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

.navbar ul li {
    display: table-cell;
    vertical-align: center;
    padding: 10px;
}